.Dashboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    color: #333;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* background-image: linear-gradient(to right bottom, #7ed56f, #28b485); */
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7));
    font-size: 1.2rem;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
}

.Dashboard h2 {
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    letter-spacing: 3px;
    font-size: 2.6rem;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.68);
}

.Dashboard ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
    letter-spacing: 0;
    font-size: 1.9rem;
}

.Dashboard li {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-transform: uppercase;
}

.Dashboard ul li a:link,
.Dashboard ul li a:visited {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 2.1rem;
    transition: all .2s;
    padding: .1rem;
    backface-visibility: hidden;
}

.Dashboard ul li a:hover,
.Dashboard ul li a:active {
    color: #55c57a;
    background-color: #333;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
    transform: rotate(5deg) scale(1.3);
}

.Dashboard ul li a span {
    margin-right: 2rem;
}