*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}